body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', system-ui, sans-serif;
    background-color: #f8f9fa;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
}

.header-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.header-btn {
    background-color: #0097FF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.header-btn:hover {
    background-color: #1753ca;
    transform: scale(1.05);
}

section {
    max-width: 1200px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #2c3e50;
}

.footer {
    margin-top: 30px;
    text-align: center;
    padding: 15px 0 15px 0;
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

/* Style par défaut desktop */
@media (min-width: 768px) {
    header img {
        height: 90px;
    }

    section {
        padding: 2rem;
        margin: 1rem auto;
    }
}

/* Mobile version */
@media (max-width: 767px) {
    header img {
        height: 60px;
    }

    section {
        padding: 1.5rem;
        margin: 1rem;
    }
}