.container {
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

.dashboard-grid {
    display: grid;
    margin-bottom: 20px;
}

.bins-section,
.stats-section {
    background: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.bin {
    margin-bottom: 15px;
}

.bin-label {
    font-weight: bold;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.progress {
    height: 28px;
    background: #f0f3f5;
    border-radius: 12px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    color: white;
    padding-right: 1px;
    line-height: 20px;
    transition: width 0.5s;
}

.stats-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    margin-bottom: 20px;
}

.total-waste {
    font-weight: bold;
    margin-top: 15px;
    padding: 8px;
    text-align: center;
    background: #eef2f7;
    border-radius: 10px;
    font-weight: 600;
    color: #1753ca;
}

.stat-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
    border-radius: 8px;
    background: #f0f3f5;
}

.stat-item:hover,
.progress:hover {
    transform: translateY(-2px);
    transition: all .05s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stat-icon {
    margin-right: 8px;
    font-size: 20px;
}

.stat-info {
    flex: 1;
}

.stat-label {
    font-weight: 500;
    font-size: 0.95rem;
}

.stat-value {
    font-weight: bold;
    font-size: 1.1rem;
}

.update-status {
    padding: 10px 0 10px 0;
}

.update-status.success {
    background-color: #e8f5e9;
    color: #2e7d32;
}

.update-status.error {
    background-color: #ffebee;
    color: #c62828;
}

/* Style par défaut desktop */
@media (min-width: 768px) {

    .notif-log {
        width: 60%;
        top: 20%;
        left: 20%;
        height: 60%;
        border-radius: 12px;
    }

    .dashboard-grid {
        grid-template-columns: 1.5fr 1fr;
        gap: 30px;
    }
}

/* Mobile version */
@media (max-width: 767px) {
    
    .notif-log {
        width: 75%;
        top: 0;
        left: 0;
        border-top-right-radius: 12px;
        height: 100vh;
    }

    .notif-log h2 {
        font-size: 1.1em;
    }

    .dashboard-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}
